.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: rgb(158, 175, 192);
}

.token.namespace {
  opacity: 0.7;
}

.token.string,
.token.attr-value {
  color: rgb(166, 198, 101);
}

.token.punctuation {
  color: #cbcbcb;
}

.token.operator {
  color: #eba651;
}

.token.entity,
.token.url,
.token.symbol,
.token.number,
.token.boolean,
.token.variable,
.token.constant,
.token.property,
.token.regex {
  color: rgb(231, 104, 223);
}

.token.prefix.inserted {
  color: #a3e322;
}

.token.prefix.deleted {
  color: #ff6c6c;
}

.token.atrule,
.token.keyword,
.token.attr-name,
.language-autohotkey .token.selector {
  color: #81d6e7;
}

.token.function,
.language-autohotkey .token.tag {
  color: #ff8484;
}

.token.tag,
.token.selector,
.language-autohotkey .token.keyword {
  color: #3b6f78;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}
