---
import type { SelectProperty } from '../lib/interfaces.ts'
import { getTagLink } from '../lib/blog-helpers.ts'
import NoContents from './NoContents.astro'
import '../styles/notion-color.css'

export interface Props {
  heading: string
  tags: SelectProperty[]
}

const { heading, tags } = Astro.props
---

<div class="blog-tags-link">
  <h2>{heading}</h2>
  {
    tags.length === 0 ? (
      <NoContents contents={tags} />
    ) : (
      <div>
        {tags.map((tag: SelectProperty) => (
          <a href={getTagLink(tag.name)} class={`tag`}>
            {tag.name}
          </a>
        ))}
      </div>
    )
  }
</div>

<style>
  .blog-tags-link {
    margin: 30px 0;
  }
  .blog-tags-link h2 {
    margin: 0;
    padding-left: 0.4rem;
    color: #777;
    font-size: 0.95rem;
  }
  .blog-tags-link div{
    padding: 8px 0;
  }
  .blog-tags-link a {
    margin-right: 0.6rem;
    margin-bottom: 0.3rem;
    font-size: 0.9rem;
    display: inline-block;

    min-width: 0;
    border-radius: 3px;
    border: 1px solid #8f8f8f;
    padding: 4px 8px;
    line-height: 1.2;
    color: rgb(50, 48, 44);
  }
  @media (max-width: 768px) {
    .blog-tags-link {
    margin: 20px 0;
  }
  }
</style>
