---
import type { Post } from '../lib/interfaces.ts'
import { filePath } from '../lib/blog-helpers'

export interface Props {
  post: Post
}

const { post } = Astro.props

let image = ''
if (post.FeaturedImage?.Url) {
  if (import.meta.env.DEV) {
    image = post.FeaturedImage.Url
  } else {
    image = filePath(new URL(post.FeaturedImage.Url))
  }
}
---

{
  image && (
    <div class="post-featured-image">
      <img src={image} alt="Featured image of the post" width="100%" height="auto" />
    </div>
  )
}

<style>
  .post-featured-image {
    padding: 0 0 1.5rem;
  }
  .post-featured-image img {
    display: block;
    max-width: 100%;
    max-height: auto;
    margin: 0 auto;
    border-radius: 0.5rem;
    border: 0.7px solid var(--accents-1);
    object-fit: cover;
  }
</style>
